{% block title %}Lyrics list!{% endblock %}

{% extends 'c_base.html.twig' %}

{% block body %}

    {% for item in lyrics %}
        <div class="container">
            <a href="{{ path('app_lyrics_show', { id: item.id }) }}"
                class="">
                    <div>{{item.content}}</div>
            </a>
            <div>{{item.createdAt|date("Y-m-d H:i:s")}}</div>
            <a href="{{ path('app_lyrics_delete', { id: item.id }) }}"
                class="">
                    <span>delete</span>
            </a>
        </div>
    {% endfor %}

    <div>
        {{ form(form) }}
    </div>

{% endblock %}
